
/* GENERAL */

body {
  margin: 0; padding: 0;
  background-color: #2A2A2A;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
}


/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0px 20px;
}

nav p {
  margin: 0px 10px;
  font-weight: 600;
}

.hover:hover {
  cursor: pointer;
}

#header_socials {
  margin-left: 20px;
}



/* TOP SECTION */

#topsection {
  height: auto;
}

#topsection_logo {
  align-self: center;
  width: 350px;
  margin: 0% calc(50% - 175px);
}

#topsection_cover {
  height: 900px;
  display: flex;
  flex-direction: column;
}

#topsection_cover div {
  position: absolute;
  align-self: center;
}


#topsection_cover h2 {
  font-size: 1.3em;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#topsection_cover_img {
  height: 830px;
  z-index: -1;
  align-self: center;
}



/* MAIN SECTION */

#mainsection {
  height: 1100px;
}

.mainsection_div {
  margin: 40px 40px 10px 40px;
}

.mainsection_div h2 {
  font-size: 2em;
}

.mainsection_div p {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}



/* US SECTION */

#ussection_text {
  height: 1000px;
  padding-top: 40px;
  margin-top: 30px;
}

#ussection_text h2 {
  text-align: center;
  width: 60%;
  margin: 0px 20%;
  font-size: 2em;
}

#ussection_text p {
  text-align: center;
  width: 80%;
  margin: 20px 10%;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

#ussection_text a {
  z-index: 1;
}

#ussection_div_img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
  opacity: 0.3;
  position: absolute;
}

#ussection_pics {
  display: flex;
  flex-direction: row;
  height: 620px;
  margin-top: 40px;
  width: 100%;
}

.profile_pics {
  z-index: 999;
  width: 50%;
  object-fit: cover;
}

.button-12 {
  text-align: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  z-index: 1;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.arrowup {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.arrowup_icon {
  font-size: 3em;
  color: #2A2A2A;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #6E6D70;
  box-shadow: 1px 1px 0px #aeadaf ;
}

.arrowup_icon:hover {
  font-size: 3.5em;
}


/* FOOTER */

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;  
}

.icon {
  font-size: 2.2em;
  margin: 20px 10px;
}

.flex_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra-top-margin {
  margin-top: 50px;
}

.flex_center p {
  margin: 2px;
}

.smallicon {
  font-size: 1.8em;
}

a { 
  color: inherit;
  text-decoration: none;
} 


