.project_content {
  margin: 130px 170px 80px 170px;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

.project_picture {
  width: 100%;
}

.project_credits {
  margin: 60px 170px 100px 170px;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}