.slider {
  height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-left: -500px;

}

.box {
  height: 300px;
  min-width: 400px !important;
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.box img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.box h2 {
  position: absolute;
  align-self: center;
}



/* ICONS */

.slider_icon {
  font-size: 4em;
  color: rgb(197, 197, 197);
  opacity: 0.8;
  position: absolute;
  bottom: -540px;
}

.slider_icon:hover {
  font-size: 5em;
  color: grey;
  opacity: 1;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}



/* ANIMATIONS */

.animaprev {
  animation: slideprev 1s ease-in-out;
}

@keyframes slideprev{
  0% {
     transform: translate(0px)
  }
  100% {
     transform: translate(-440px);
  }
}


.animanext {
  animation: slidenext 1s ease-in-out;
}

@keyframes slidenext{
  0% {
     transform: translate(0px)
  }
  100% {
     transform: translate(440px);
  }
}