.slider_container {
  height: 500px;
}

body{
  overflow-x: hidden;
}

.slider {
  height: 340px;
  display: flex;
  align-items: center;
  margin-left: -53vw;
  width: 250%;
}

.box {
  height: 300px;
  width: 33vw;
  margin: 0px 0.5vw 20px 0.5vw;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  font-size: 2em;
  /* display: flex;
  justify-content: center; */
}

.box img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.box h2 {
  position: absolute;
  align-self: center;
}

.box_content {
  display: flex;
  justify-content: center;
}


/* ICONS */

.slider_icon {
  font-size: 4em;
  color: rgb(197, 197, 197);
  opacity: 0.8;
}

.slider_icon:hover {
  font-size: 4.8em;
  color: grey;
  opacity: 1;
  cursor: pointer;
}

.flex-spcbtw {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.button1, .button2 {
  border: none;
  background-color: #2A2A2A;
}



/* ANIMATIONS */

.animaprev {
  animation: slideprev 0.8s ease-in-out;
}

@keyframes slideprev{
  0% {
     transform: translate(0px)
  }
  100% {
     transform: translate(-34vw);
  }
}


.animanext {
  animation: slidenext 0.8s ease-in-out;
}

@keyframes slidenext{
  0% {
     transform: translate(0px)
  }
  100% {
     transform: translate(34vw);
  }
}